.header{
background: red;
color: white;
}

.web{   
    margin: 15px 10px 18px 20px;
    }

.caja{margin: 15px 260px 18px 10px;

}

a{text-decoration: none;
color: white;
font-size: 14px;
}

.navegador{ 
    display: flex;
    height: 50px;
}   

.navbar{
    display: flex;
    flex-direction: row;
    
    
}
.navbar ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    margin-top: 6px;
    margin-bottom: 3px;
       
   }

.navbar ul li{
                background: rgb(223, 130, 130);
                
                
   }

.li1{border-radius: 150px;
    width: 45px;
    padding: 10px;
    text-align: center;
    height: fit-content;
    margin-right: 10px;
    
    
}

.li2{ 
    border-radius: 150px;
    width: 45px;
    padding: 10px;
    text-align: center;
    height: fit-content;
    margin-right: 10px;
}
.li3{
    border-radius: 130px;
    width: 65px;
    padding: 10px;
    text-align: center;
    height: fit-content;
}
