*{width: 100%;}


.header{
background: red;
color: white;


}

.web{   
    margin-top: 15px;  
    margin-top: 15px;
    margin-left: 20px;
    margin-right: 0;
    
    }

.caja{margin-top: 7px;
        margin-left: 0;
        width: 60%;
        
}


a{text-decoration: none;
color: white;
font-size: 14px;

}

.navegador{ 
    display: flex;
    flex-direction: row;
    justify-content: left;
} 

.navbar{
    display: flex;
    flex-direction: row;
    
    
}
.navbar ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    margin-top: 6px;
    margin-bottom: 3px;
       
   }

.navbar ul li{
                background: rgb(223, 130, 130);
                
                
   }

.li1{border-radius: 150px;
    padding: 10px;
    text-align: center;
    margin-right: 10px;
    
    
}

.li2{ 
    border-radius: 150px;
    padding: 10px;
    text-align: center;
    margin-right: 10px;
}
.li3{
    border-radius: 130px;
    padding: 10px;
    text-align: center;
    
}

.div1{ 
        text-align: center;
        background: black;
        color: white;
        
      
             
 }
 .div2{ 
    text-align: center;
    background: red;
    color: white;
 }

 
 .caja2{margin-top: 80px;
        display: flex;

 }

 .boton{


 }
 .footer{ 
    background: black;
 }